@use "@carbon/react";
@use "@carbon/layout";

body {
  overflow: hidden;
}

.mt-3 {
  margin-top: layout.$spacing-03;
}

.mt-5 {
  margin-top: layout.$spacing-05;
}

.pb-5 {
  padding-bottom: layout.$spacing-05;
}

.align-content-center {
  align-content: center;
}

.text-align-right {
  text-align: right;
}

.flex-grow-1 {
  flex-grow: 1;
}